

.dayForecastCard {
    background-color: #056cf2;
    border-radius: 15px;
    padding: 2em;
    height: 70%;
    min-width: 200px;
    display: grid;
    grid-template-rows: 0.1fr 1.3fr;
    place-items: center;
}


.dayForecastCard > h3 {
    font-size: 1.5em;
}

