@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.dayForecastCard {
    border-radius: 20px;
    padding: 2em;
    height: 70%;
    min-width: 200px;
    display: grid;
    grid-template-rows: 0.1fr 1.3fr;
    place-items: center;
    background: rgba(255, 255, 255, 0.05);
    font-family: "Noto Sans", sans-serif;
    animation: fadeInAnimationCard1 ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 0.5s ease-out;
}

.header h3 {
    margin: 0;
    letter-spacing: 0.15em;
    font-size: 1.5em;
    font-weight: light;
}

@keyframes fadeInAnimationCard1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dayForecastCard:hover {
    background: rgba(255, 255, 255, 0.14);
}
