body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: rgb(246, 247, 249);
  position: relative;
  
}

.navHeader {
  display: inline;
}

 .logo {
  display: inline-block;
  font-size: 17px;
  color: rgb(93, 93, 94);
  padding: 14px 5vw;
  text-align: center;

}

.navBtn {
  display: none;
}

.navLink {
  display: inline;
  float: right;
  font-size: 17px;

}

.navLink a {
  display: inline-block;
  padding: 14px 8px;
  text-decoration: none;
  color: rgb(127, 125, 129);

}
.lastLink {
  margin-right: 5vw;
}

.navLink a:hover {
  color: #0642bbb9;
}

.navCheck {
  display: none;
}

@media (max-width: 728px) {
  .navBtn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    color: rgb(93, 93, 94);

  }
  .navBtn  label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navBtn  label:hover,.nav  .navCheck:checked ~ .navBtn > label {
    color: #0642bbb9;

  }
  .navBtn label span {
    display: block;
    color: rgb(93, 93, 94);
    font-size: 30px;
    margin-top: -9px;

    
  }
  .navLink {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(246, 247, 249);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    padding-left: 4vw;
    z-index: 500;
  }
  .navLink a {
    display: block;
    width: 100%;
  }
  .navCheck:not(:checked) ~ .navLink {
    height: 0px;
  }
  .navCheck:checked ~ .navLink {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}