@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 20px;
}

.main-container {
    min-height: 100vh;
    display: grid;
    place-items: center;
    grid-template-rows: 0.1fr 1fr 0.9fr; 
    background-color: #0583F2;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.current-weather {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    place-items: center;
}

.temp-and-icon-and-location {
    height: 70%;
    width: 75%;
    /* border: solid 2px black; */
    display: grid;
    grid-template-rows: 0.05fr 1.5fr;
    padding: 2em;
}

.location {
    padding-left: 4em;
}
.location h3 {
    font-size: 62px;
    font-weight: 900;
}

h2,h3 {
    margin: 0;
}


.temp-and-icon {
    cursor: default;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.extra-data {
    height: 70%;
    width: 75%;
    border: solid 2px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.temp {
    font-size: 9em;
    display: flex;
}

.temp::after {
    content: "\00b0 C";
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}


.week-forecast {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.day-forecast {
    height: 70%;
    width: 300px;
    border: 2px solid black;
}