*{box-sizing:border-box}
.col-1 {width:8.33%}
.col-2 {width:16.66%}
.col-3 {width:25%}
.col-4 {width:33.33%}
.col-5 {width:41.66%}
.col-6 {width:50%}
.col-7 {width:58.33%}
.col-8 {
  margin-bottom: 50px !important;
  color: #0d0d0d;
  background-color: #f3f2f2;
	border-radius: 10px;
  border: 2px solid #0d0d0d;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	max-width: 100%;
	margin: auto;
	overflow: hidden;
  width:66.66%
}
.col-9 {width:75%}
.col-10 {width:83.33%}
.col-11 {width:91.66%}
.col-12 {width:100%}
[class*="col-"] {float:left; padding:15px}
.row::after {content:""; clear:both; display:table}

h1 {
  text-align: center;
  margin: 40px 0;
  color: #0d0d0d;
}

h3 {
  text-align: center;
  padding-top: 20px;
}

p {
  padding: 0 30px;
}

@media only screen and (max-width:500px) {
  
  img {max-width: 400px; height: auto};
  grid-template-colums:1fr;
}
@media only screen and (max-width:900px) {}
@media only screen and (max-width:1920px) {}